/* From https://www.youtube.com/watch?v=7KPh4QyNU04 */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f3f3f3;
    font-family: "Poppins", sans-serif;
}

.box {
    position: relative;
    width: 800px;
}

.box h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 12rem;
    text-transform: uppercase;
    text-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.box h1:nth-child(2) {
    background: #f3f3f3;
    color: #fff;
    overflow: hidden;
    z-index: 2;
    transition: .5s;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}

.box h1:nth-child(2):hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* The tilde symbol is known as subsequent-sibling combinator,
which separates two compound selectors. */
/* This selector is similar to the ‘Adjacent Selector’ (+ sign),
however, it is less strict. While an adjacent selector will only select the first element that is immediately preceded by the former selector, this one is more generalized. */
.box h1:nth-child(1):hover~h1 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}