/*From Keep Coding https: //www.youtube.com/watch?v=V18Rvcxj1iA */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
    padding: 0;
    margin: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: hsl(0, 0%, 70%);
    font-size: 20px;
    font-weight: bold;
    font-family: "Anonymous Pro", monospace;
    letter-spacing: 7px;
    cursor: pointer;
    border-right: 2px solid hsl(0, 0%, 80%);
    animation: typewriter 4s steps(44) normal, blinkTextCursor .5s infinite;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 711px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: hsl(0, 0%, 80%);
    }

    to {
        border-right-color: transparent;
    }
}